*{
    margin: 0px;
    padding: 0px;
}
.background {
    margin: auto;
    margin-top:-50px;
    width:110%;
     height:120vh;
      background-image: url(/public/tokyo-cityscape-night-japan.jpg);
      background-position: center;
      background-size:cover;
      filter: blur(10px);
      position: fixed;
      z-index: -2;
}
.container h1,p{
    color:white;
    text-align: justify;
}
.about_img{
	/* min-width: 100%; */
	max-height: 280px;
  border-radius: 20px;
}
.faq{
    margin: 5%;
    color:white;
}
.faq h2{
    text-align: center;
}
.faq li{
    margin-top:1%;
}
.faq ul li:nth-child(2n+1){
 margin-top:3%;
}


.frontNavbar {
    
    /* background-color: rgba(255, 255, 255, 0); */
    width: 90%;
    color: white;
    /* padding-top: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:solid; */
    border-bottom: solid 0.5px;
    /* /* top:700px; */
    position: sticky;
    /* border: solid; */
    box-sizing: border-box;
   
  }
  .nav-links {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* border: solid; */
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links a {
    font-size: large;
    text-decoration: none;
    color: white;
    padding-bottom: 11px;
  }
  .nav-links a:hover {
    border-bottom: solid 7px;
    border-radius: 5px;
  }
  .profile-icon,
  .search-icon {
    margin-left: 10px;
    /* font-size: 1.2em; */
    color: white;
    cursor: pointer;
  }
  
  .signup-btn {
    padding: 8px 16px;
    background-color: #39a0ed;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }