/* html {
    scroll-behavior: smooth;
  } */
  
  .frontNavbar {
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    margin: auto;
    color: white;
    /* padding-top: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border:solid; */
    border-bottom: solid 0.5px;
    /* /* top:700px; */
    position: sticky;
    /* border: solid; */
    box-sizing: border-box;
  }
  .nav-links {
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* border: solid; */
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links a {
    font-size: large;
    text-decoration: none;
    color: white;
    padding-bottom: 11px;
  }
  .nav-links a:hover {
    border-bottom: solid 7px;
    border-radius: 5px;
  }
  .profile-icon,
  .search-icon {
    margin-left: 10px;
    /* font-size: 1.2em; */
    color: white;
    cursor: pointer;
  }
  
  .signup-btn {
    padding: 8px 16px;
    background-color: #39a0ed;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  body {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
  }
  /*end header section*/
  .slider_section {
    padding-top: 45px;
    /* overflow-x: hidden; */
  }

  
  .slider_section .detail-box {
    color: #ffffff;
    margin-top: 75px;
    text-align: center;
    padding: 0 15px;
  }
  
  .slider_section .detail-box h1 {
    font-weight: bold;
    font-size: 3rem;
  }
  
  .slider_section .detail-box h1 span {
    color: #fefefe;
  }
  
  .slider_section .detail-box p {
    margin-top: 15px;
  }
  
  .slider_section .detail-box a {
    display: inline-block;
    background: #ffffff;
    color: #000000;
    padding: 10px 40px;
    border-radius: 30px;
    border: 1px solid #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 35px;
  }
  
  .slider_section .detail-box a:hover {
    background: transparent;
    color: #ffffff;
  }
  
  .slider_section .img-box {
    background-image: url(../images/slider-bg.png);
    background-position: bottom;
    background-size: 100%;
    padding-bottom: 375px;
    position: relative;
    background-repeat: no-repeat;
  }
  
  .slider_section .img-box .play_btn {
    background: -webkit-gradient(linear, left top, left bottom, from(#0856dd), to(#0ad8ab));
    background: linear-gradient(to bottom, #0856dd, #0ad8ab);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    position: absolute;
    z-index: 3;
    top: 90px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .slider_section .img-box .play_btn a {
    background: -webkit-gradient(linear, left top, left bottom, from(#0856dd), to(#0ad8ab));
    background: linear-gradient(to bottom, #0856dd, #0ad8ab);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    position: relative;
    z-index: 5;
  }
  
  .slider_section .img-box .play_btn img {
    width: 20px;
    margin-left: 3px;
  }
  
  .slider_section .img-box .play_btn::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: -webkit-gradient(linear, left top, left bottom, from(#0856dd), to(#0ad8ab));
    background: linear-gradient(to bottom, #0856dd, #0ad8ab);
    opacity: 1;
    border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  
  .slider_section .img-box .play_btn::before {
    z-index: 2;
    -webkit-animation: before-animation 1500ms infinite;
            animation: before-animation 1500ms infinite;
  }
  
  .book_section {
    margin-top: -220px;
    margin-bottom: 200px;
  }
  
  .book_section .heading_container {
    margin-bottom: 35px;
  }
  
  .book_section form {
    background-color: #fff;
    padding: 35px 45px;
    border-radius: 45px 0 45px 0;
  }
  
  .book_section form label {
    color: #000000;
  }
  
  .book_section form .form-control {
    background-color: #f1f1f1;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 35px;
    padding: 10px 15px;
    height: auto;
  }
  
  .book_section form button.btn {
    background: -webkit-gradient(linear, left top, right top, from(#3182cb), to(#2eb19c));
    background: linear-gradient(to right, #3182cb, #2eb19c);
    color: #ffffff;
    padding: 10px 75px;
    border-radius: 45px;
    margin-top: 10px;
  }
  
 /* #popupbox{
    margin:auto;
    width: 50%;
    height:200px;
    background-color: #fefefe;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    top:40vh;
    left:350px;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(44, 43, 43);
    visibility: hidden;
    border-radius: 15px;
 }
 #closeit{
    padding: 10px;
border-radius: 10px;
 } */



 /*  */
 * {
  box-sizing: border-box;
}


.clash-card {
 
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 20px;
  position: fixed;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  left:40vw;
  top:15vh;
  visibility: hidden;
}

.clash-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.clash-card__image--barbarian {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg');

  img {
      width: 400px;
      position: absolute;
      top: -65px;
      left: -70px;
  }
}


.clash-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}


.clash-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.clash-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}



/* cards */
#popularDestinations{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:30px;
  margin:3%;
}


.destination-card {
  /* background-color: #f5f5f5; */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  /* flex: 1; */
  /* margin: 20px; */
}
/*////////////////////////////////// this is the single container used on destination.html but i cant seem to fit it as grid helppppppppp   //////////*/

#destination-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  margin: 7%;
}
/*////////////////////////////////// this is card used on destination.html    //////////*/
.product-destination-card {
  margin: 15px;
  height: 400px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* flex: 10%; */
  transition: background-color 0.3s, transform 0.3s;
}
.product-destination-card:hover {
  transform: scale(1.02);
}

.destination-card:hover {
  transform: translateY(-4px);
}

.destination-image {
  /* position: relative; */
  width: 100%;
  border-radius: 20px 20px 0 0; /* Adjusted border-radius */
  /* overflow: hidden; */
  /* height: 70%; Set to 100% to take up the entire column space */
}

.destination-image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 20px 20px 0 0;
}

.bookmark-icon {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.8); /* 80% transparency */
  padding: 8px;
  border-radius: 7px;
  transition: transform 0.2s ease-in-out;
  display: none;
}

.bookmark-icon:hover {
  transform: scale(1.1); /* Small hover effect */
}

.bookmark-icon img {
  width: 85%;
  height: 85%;
  margin: 10%;
  border-radius: 0%;
  transition: transform 0.2s ease-in-out;
  display: none;
}

.bookmark-icon img:hover {
  transform: scale(1.2); /* Larger hover effect */
}

.bookmark-icon:active {
  transform: scale(0.8); /* Pop effect on click */
}

.card-description-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  width: 100%; /* Set width to 100% to ensure it stays within the column */
  /* height: 13%; */
}
.product-card-description-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  width: 100%; /* Set width to 100% to ensure it stays within the column */
  height: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
  /* margin-bottom: 10%; */
}

.left-description {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column;
  margin-left: 5%;
}

.destination-info {
  display: flex;
  align-items: center;
}

.country-name {
  font-weight: bolder;
  font-size: 24px;
  color: #333;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-top: 12%;
}

.navigation-icon {
  width: 32px;
  margin-bottom: 10%;
  margin-left: 10%;
}

.destination-name {
  font-size: 1.2em;
  color: #777;
  font-weight: light;
  margin-bottom: 10%;
}

.right-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 12%;
}

.rating-container {
  font-weight: bold;
  font-size: 19px;
  margin-top: 12%;
}

.rating-star {
  cursor: pointer;
  margin-right: 3px;
  color: #ccc;
}

.rating-star.active {
  color: #ff8a1d;
}

.days {
  font-size: 1em;
  font-weight: lighter;
  color: #777;
  margin-top: 12%;
  text-align: left;
  margin-right: 55%;
  margin-bottom: 10%;
}


