* {
  margin: 0;
  padding: 0;
}
.frontHeader {
  height: 100vh;
  padding-top: 1%;
  background-image: url(/public/david-marcu-78A265wPiO4-unsplashput.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border:solid red; */
  box-sizing: border-box;
}
.frontNavbar {
  background-color: rgba(255, 255, 255, 0);
  width: 90%;
  color: white;
  /* padding-top: 10px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:solid; */
  border-bottom: solid 0.5px;
  /* /* top:700px; */
  position: sticky;
  /* border: solid; */
  box-sizing: border-box;
}
.nav-links {
  width: 60%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  /* border: solid; */
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  font-size: large;
  text-decoration: none;
  color: white;
  padding-bottom: 11px;
}
.nav-links a:hover {
  border-bottom: solid 7px;
  border-radius: 5px;
}
.profile-icon,
.search-icon {
  margin-left: 10px;
  /* font-size: 1.2em; */
  color: white;
  cursor: pointer;
}

.signup-btn {
  padding: 8px 16px;
  background-color: #39a0ed;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.socialSideBar {
  width: 50px;
  height: 200px;
  /* border:solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  z-index: 1;
  top: 160px;
  right: 0px;
  position: fixed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: rgba(147, 147, 147, 0.747);
}
.socialSideBar a {
  color: rgba(244, 238, 238, 0.813);
}
.socialSideBar i {
  /* color: rgba(255, 255, 255, 0.518); */
  font-size: 28px;
}
.headerBottomSection {
  /* top:90%;
    position: absolute; */
  height: 130px;
  width: 100%;
  /* border:solid; */
  padding: 1.5% 0% 1.5% 10%;
  display: flex;
  justify-content: start;
  background-color: rgba(132, 132, 132, 0.5);
  box-sizing: border-box;
}
.headerBottomSection h5,
p {
  color: rgba(255, 242, 242, 0.824);
}
.post1image {
  /* z-index: 1; */
  width: 170px;
  height: 95px;
  background-image: url(/public/Trilha_Pedra_Bonita_-_Alexandre_Macieira-_Riotur-min.jpg);
  background-position: center;
  background-size: cover;
}
.post2image {
  /* z-index: 2; */
  width: 170px;
  height: 95px;
  background-image: url(/public/photo-1542103749-8ef59b94f47e.avif);
  background-position: center;
  background-size: cover;
}
/* .post3image{
    width:170px;
    height:95px;
    background-image: url(/public/perbedaan-backpacker-dan-traveller.jpg);
    background-position: center;
    background-size: cover;
  }
  .post4image{
    width:170px;
    height:95px;
    background-image: url(/public/changing-traveller-report_resource-centre-tile_es.jpg);
    background-position: center;
    background-size: cover;
  }  */
.headerBottomSection > div {
  width: 40%;
  display: flex;
  gap: 20px;
  /* border:solid; */
}

.headerMidSection {
  width: 70%;
  /* border:solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
.bookingdetails {
  border: solid;
  width: 100%;
  padding: 1%;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  background-color: #121030cc;
}
.bookingdetails input {
  height: 30px;
  border-radius: 12px;
  border: solid white 1px;
  color: white;
  background-color: #201f34cc;
  padding: 6px;
  padding-left: 10px;
}
.bookingdetails select {
  height: 43px;
  border-radius: 12px;
  border: solid white 1px;
  background-color: #201f34cc;
  color: white;
  padding-left: 10px;
}
#idfordestination {
  width: 22%;
}
#idfordate {
  width: 25%;
}
#idforadults {
  width: 20%;
}
#idforsearchbar {
  width: 20%;
}
#idforsearchbar::placeholder {
  color: white;
}
.discountCountdown > h4 {
  margin-top: 20px;
}
#seemorepost {
  position: absolute;
  bottom: 50px;
  right: 100px;
  z-index: 1;
  text-decoration: none;
  color: white;
  font-size: 25px;
}
#seebackpost {
  position: absolute;
  bottom: 30px;
  right: 100px;
  z-index: 1;
}
/* <!-- sourav --> */

.caraousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10%;
  align-items: center;
}

#caraouselcontainer {
  display: flex;
}
/* yogesh */
/* <!-- vishnu --> */
body {
  font-family: "Open Sans", sans-serif;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.title-landing-page {
  font-size: 1.3rem;
  margin: 2px;
}

.card-container {
  height:550px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
  padding:3%;
}

.column1,.column3 {
  width:32%;
  height:100%;
  /* display:flex;
  flex-direction: column; */
  /* border:solid; */
  /* justify-content: space-between; */
  box-sizing: border-box;
}
.column2{
  width:32%;
  height:100%;
  box-sizing: border-box;
  /* border:solid; */
}

/* .row {
  margin: 5%;
} */

.destination-card {
  /* background-color: #f5f5f5; */
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100%;
  transition: background-color 0.3s, transform 0.3s;
  width: 100%;
  /* flex: 1; */
  /* margin: 20px; */
}
/*////////////////////////////////// this is the single container used on destination.html but i cant seem to fit it as grid helppppppppp   //////////*/

#destination-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 20px;
  margin: 7%;
}
/*////////////////////////////////// this is card used on destination.html    //////////*/
.product-destination-card {
  margin: 15px;
  height: 400px;
  box-sizing: border-box;
  background-color: #f5f5f5;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* flex: 10%; */
  transition: background-color 0.3s, transform 0.3s;
}
.product-destination-card:hover {
  transform: scale(1.02);
}

.destination-card:hover {
  transform: translateY(-4px);
}

.destination-image {
  /* position: relative; */
  width: 100%;
  border-radius: 20px 20px 0 0; /* Adjusted border-radius */
  /* overflow: hidden; */
  /* height: 70%; Set to 100% to take up the entire column space */
}

.destination-image img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 20px 20px 0 0;
}

.bookmark-icon {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.8); /* 80% transparency */
  padding: 8px;
  border-radius: 7px;
  transition: transform 0.2s ease-in-out;
  display: none;
}

.bookmark-icon:hover {
  transform: scale(1.1); /* Small hover effect */
}

.bookmark-icon img {
  width: 85%;
  height: 85%;
  margin: 10%;
  border-radius: 0%;
  transition: transform 0.2s ease-in-out;
  display: none;
}

.bookmark-icon img:hover {
  transform: scale(1.2); /* Larger hover effect */
}

.bookmark-icon:active {
  transform: scale(0.8); /* Pop effect on click */
}

.card-description-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  width: 100%; /* Set width to 100% to ensure it stays within the column */
  /* height: 13%; */
}
.product-card-description-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  width: 100%; /* Set width to 100% to ensure it stays within the column */
  height: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: hidden;
  /* margin-bottom: 10%; */
}

.left-description {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  flex-direction: column;
  margin-left: 5%;
}

.destination-info {
  display: flex;
  align-items: center;
}

.country-name {
  font-weight: bolder;
  font-size: 24px;
  color: #333;
  margin-left: 10%;
  margin-bottom: 10%;
  margin-top: 12%;
}

.navigation-icon {
  width: 32px;
  margin-bottom: 10%;
  margin-left: 10%;
}

.destination-name {
  font-size: 1.2em;
  color: #777;
  font-weight: light;
  margin-bottom: 10%;
}

.right-description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 12%;
}

.rating-container {
  font-weight: bold;
  font-size: 19px;
  margin-top: 12%;
}

.rating-star {
  cursor: pointer;
  margin-right: 3px;
  color: #ccc;
}

.rating-star.active {
  color: #ff8a1d;
}

.days {
  font-size: 1em;
  font-weight: lighter;
  color: #777;
  margin-top: 12%;
  text-align: left;
  margin-right: 55%;
  margin-bottom: 10%;
}

/* .title-landing-page {
  margin-bottom: 25%;
  margin-top: 2%;
} */

.button-container {
  text-align: center;
}
/*  reuasable button    */
.see-more-button {
  display: inline-block;
  padding: 18px 50px;
  background-color: #19a3ff;
  color: #ffffff;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  border-radius: 40px;
  transition: background-color 0.3s ease;
}

.see-more-button:hover {
  background-color: #2980b9; /*  darke blue on hover */
}

/* <!-- yogesh --> */
.summerspecial {
  margin-top: 130px;
  width: 100%;
  height: 450px;
  /* padding:3%; */

  /* border:solid; */
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ececec;
}

.leftsummer {
  width: 40%;
  height: 80%;
  background-image: url(/public/boatsummerspecialleft.jfif);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.rightsummer {
  box-sizing: border-box;
  padding: 2%;
  margin-left: -4%;
  width: 35%;
  height: 65%;
  /* border:solid; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.rightsummer > h2,
h3,
h4 {
  margin: 0px;
}
.booknowbuttonsummer {
  border-radius: 15px;
  padding: 8px;
  background-color: #39a0ed;
  color: white;
  border: none;
}
/* <!-- yogesh --> */
#caraouselcontainer {
  width: 700%;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 130px;
  margin: 30px;
  margin-top: 60px;
  /* border: solid; */
  /* box-sizing: border-box; */
}
.caraousel-card-only {
  width: 300px;
  height: 300px;
}
.caraousel-card-only img {
  width:300px;
  height:300px;
}
#caraouselbutton {
  margin-top: 100px;
  margin-left: 46%;
  border-radius: 20px;
  background-color: #19a3ff;
  color: #ffffff;
  border: none;
  padding: 10px 15px 10px 15px;
}
/* Utkarsh*/

.headingU {
  text-align: center;
  margin-top:50px;
}

.container {
  max-width: 100%;
  height: 300px;
  margin-left: 50px;
  margin-top: 25px;
  display: flex;
  gap: 4%;
}

.classu {
  height: 300px;
  width: 28%;
  border: 1px solid rgb(55, 165, 255);
  border-radius: 5%;
}

.photo {
  margin: 10px auto;
  height: 100px;
  width: 100px;
  border: 1px solid rgb(55, 165, 255);
  border-radius: 50%;
}
.photo {
  background-image: url(/public/dp1.jpg);
  background-size: cover;
  background-position: center;
}

.photo1 {
  margin: 10px auto;
  height: 100px;
  width: 100px;
  border: 1px solid rgb(55, 165, 255);
  border-radius: 50%;
}
.photo1 {
  background-image: url(/public/2dp.jpg);
  background-size: cover;
}

.photo2 {
  margin: 10px auto;
  height: 100px;
  width: 100px;
  border: 1px solid rgb(55, 165, 255);
  border-radius: 50%;
}
.photo2 {
  background-image: url(/public/3dp.jpg);
  background-size: cover;
}
.details {
  margin: 30px auto;
}

.recent {
  width: 92%;
  height: 400px;
  margin-left: 50px;
  margin-top: 25px;
  /* margin-bottom: 25px; */
  /* border: 1px solid black; */
}
.container2 {
  width: 98%;
  height: 300px;
  /* border: 1px dotted red; */
  margin-left: 5px;
  margin-top: 25px;
  display: flex;
  gap: 8%;
}

.childu {
  height: 290px;
  width: 33%;
  /* border: 1px solid rgb(55, 165, 255); */
  border-radius: 5%;
}

/* <!-- utkarsh --> */

/* <!-- nidhi --> */

.footer {
  width: 100%;
  height: auto;
  background-color: #3ea8ff;
  text-align: center;

  padding: 20px 0;

}
.footer input {
  text-align: center;
  margin: 2%;
  padding: 10px;
  /* width: 100%;  */
}
.footer > p {
  font-weight: bolder;
  font-size: 24px;
  color: white;
  text-align: center;
}
.trav::first-letter {
  font-size: larger;
  /* text-align: left; */
}
.sub , .email {
  width: 100%;
  margin: 5px 0;
}
.sub {
  width: 20%;
  height: 80%;
  border-radius: 18px;
  padding: 10px;
  border: none;
}
.email {
  width: 40%;
  height: 40%;
  border-radius: 18px;
  border: none;
  /* padding: 10px; */
}
.email::placeholder,.sub::placeholder{
  color:#19a3ff;
  font-weight: 600;
}
.myAccount > p {
  font-size: larger;
  font-weight: 200px;
}
.box {
  gap: 6%;
  display: flex;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap; 
  justify-content: center;
  text-align: center;
  font-size: large;
  padding:1% 5% 3% 5%;
  /* row-gap:80%; */
  /* column-gap: 20%; */
  /* padding-left: 8%; */
  /* padding-right: 2%; */
  /* padding-bottom: 3%; */
}
.box h2{
  margin-bottom:15px;
}
/* .trav{
 gap:10%;
 row-gap: 10%;
} */
.Traveller,
.myAccount,
.info,
.info2 {
  flex: 2; 
  text-align: start;
  font-size: smaller;
  margin-bottom: 20px;
}

.social {
  /* display:grid; */
  /* grid-template-rows: repeat(1px,4); */
  padding: 1%;
  padding-left: 45%;
  gap: 10px;
  display: flex;

  /* padding-bottom: 1%; */
  /* flex-direction:column;
  align-items: center; */

}
.social > p {
  color: white;
}
@media only screen and (max-width: 768px) {
  .sub,
  .email {
    width: 80%;
  }

  .box {
    padding-left: 5%;
    width:100%;
  }

  .social {
    padding-left: 10%;
  }
}


@media only screen and (max-width: 480px) {
  .sub,
  .email {
    width: 80%;
  }

  .box {
    padding-left: 2%;
    width:100%;
    display: flex;
  }

  .social {
    display: flex;
    padding-left: 5%;
    flex-direction: column;
  }
}

/* Pagination Styles */
.home-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#pages-container button.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}
